1 - Data Scraping/datasets/housedata.zip
2 - Eksplorasi Data/datasets/housedata.zip
1 - Data Scraping/house_prices.db
3 - Data Cleansing/datasets/global-freelancers-raw-dataset.zip
4 - Data Annotation/datasets/stockmarket-sentiment-dataset.zip
5 - Data Screening/datasets/global-freelancers-raw-dataset.zip